body{
    font-family: 'Commissioner', sans-serif;
    margin: 0;
    padding: 0;
    /*For the main body design*/
    background-color: #ebd9d9;
}
.header{
    background-image: url("/assets/images/image-hero-desktop.jpg");
    background-size: cover;
    height: 400px;
    padding: 0px 100px;
}
.desk-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
ul{
    display: flex;
    list-style-type: none;
}
ul li{
    padding: 0px 20px;
    color: #ffff;
}
.menu{
    display: none;
}
#nav-dropdown{
    display: none;
    background-color: #FFFFFF;
    width: 80%;
    position: absolute;
    height: auto;
    border-radius: 7px;
    top: 100px;
    z-index: 1;
    -webkit-box-shadow: -3px 11px 50px -1px rgba(125,121,121,1);
    -moz-box-shadow: -3px 11px 50px -1px rgba(125,121,121,1);
    box-shadow: -3px 11px 50px -1px rgba(125,121,121,1);
}
#nav-dropdown nav{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
#nav-dropdown nav a{
    display: block;
    color: hsl(0, 0%, 0%);
    text-align: center;
    text-decoration: none;
    padding: 30px;
    font-weight: 500;
}
#nav-dropdown nav hr{
    width: -webkit-fill-available;
    width: -moz-available;
    color: hsl(0, 0%, 48%);
}

/*For the main body design (@BuduCE part)*/
#master_img{
    text-align: center;
    position: relative;
    top: -60px;
}
#master{
    width: 50%;
    margin: auto;
    position: relative;
    top: -60px;
}
#master1{
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
}
#master1_p{
    text-align: center;
    width: 95%;
    margin: auto;
}
#master1_btn{
    display: flex;
    justify-content: space-between;
}
#bookmark{
    display: flex;
    justify-content: space-between;
    background: #e4d9d9;
    border-radius: 30px;
}
#bk_img{
    width: 50px;
    height: 50px;
}
.btn1{
    padding: 18px 30px;
    border-radius: 30px;
    border: none;
}
.btnl{
    background: #3BB4AA;
    color: #FFFFFF;
}
.btnr{
    border: none;
    background-color: #e4d9d9;
    border-radius: 0px 30px 30px 0px;
    padding-right: 20px;
    padding-left: 10px;
}

/*Modal from master 1*/
#back-project{
    display: none;
    background-color: #FFFFFF;
    width: 100%;
    position: absolute;
    height: auto;
    margin: auto;
    border-radius: 10px;
    top: -18%;
    left: 0%;
    z-index: 1;
    -webkit-box-shadow: -3px 11px 50px -1px rgba(125,121,121,1);
    -moz-box-shadow: -3px 11px 50px -1px rgba(125,121,121,1);
    box-shadow: -3px 11px 50px -1px rgba(125,121,121,1);
}
#back-project_1{
    padding: 25px 30px;
}
#back-project-header{
    display: flex;
    justify-content: space-between;
}
.back-project-sect1{
    border: 0.3px solid #cec5c5;
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 10px;
}
.back-project-sect1:hover{
    cursor: pointer;
    border: 2px solid hsl(176, 72%, 28%);
}
.back-project-sect1 label{
    font-weight: 700;
}
.back-project-sect1 label:hover{
    color: #1de9d8;
}
.back-project-sect p{
    font-size: 16px;
}
#opac{
    opacity: 0.5;
}
.back-project-sect1_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pledge-box label{
    padding-left: 7px;
}
.pledge-box label span{
    color: #1de9d8;
}
.pledge-box1 h5 span{
    color: grey;
}
.back-project-sect1_2{
    margin-top: -3%;
    padding-left: 30px;
}
/*onClick under some of the options*/
#onclick-modal-line{
    background-color: rgb(155, 148, 148);
}
.back-project-onclick{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    padding: 10px;
    display: none;
}
.back-project-onclick1 input{
    padding:15px;
    border: none;
}
.pledge-amount{
    width: 25px;
    margin-right: 3px;
    border: 1px solid hsl(176, 50%, 47%);
    border-radius: 35px;
    padding: 10px 30px;
}
.pledge-amount:hover{
    cursor: pointer;
}
.pledge-confirm{
    margin-left: 3px;
    border: none;
    border-radius: 35px;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: hsl(176, 50%, 47%);
}
.pledge-confirm:hover{
    cursor: pointer;
    background-color: hsl(176, 72%, 28%);
}
.pledge-project-modal{
    display: none;
    background-color: #FFFFFF;
    width: 70%;
    position: absolute;
    height: auto;
    border-radius: 7px;
    top: -15%;
    margin: 0% 9%;
    z-index: 1;
    box-shadow: -3px 11px 50px -1px rgba(125,121,121,1);
}
.pledge-project-modal-content{
    text-align: center;
    padding: 45px;
}
.pledge-project-modal-content h2{
    padding: 10px 0px;
}
.pledge-project-modal-content p{
    color: hsl(176, 50%, 47%);
    padding: 5px;
    line-height: 25px;
}
.pledge-btn{
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    background-color: hsl(176, 50%, 47%);
    padding: 10px 25px;
}
.pledge-btn:hover{
    background-color: hsl(176, 72%, 28%);
    cursor: pointer;
}
#master2{
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 5px;
    margin-top: 20px;
}
#hor{
    margin-top: 20px;
    height: 8px;
    background: #3BB4AA;
    border: none;
    border-radius: 5px;
}
#master3{
    background-color: #FFFFFF;
    padding: 25px;
    padding-top: 15px;
    border-radius: 5px;
    margin-top: 20px;
}
#master3_p{
    width:95%;
    justify-content: center;
}
@media(max-width: 375px){
    .header{
        background-image: url("/assets/images/image-hero-mobile.jpg");
        background-size: cover;
        padding: 0px 40px;
    }
    nav ul{
        display: none;
    }
    .menu{
        display: block;
    }
}
@media all and (max-width: 664px) and (min-width: 375px){
    .header{
        padding: 0px 40px;
    }
    nav ul{
        display: none;
    }
    .menu{
        display: block;
    }
    #nav-dropdown{
        display: none;
    }
}
@media all and (max-width: 878px) and (min-width: 664px){
    .header{
        padding: 0px 60px;
    }
    #nav-dropdown{
        display: none;
    }
}
/* Responsiveness for minimum of 1024px screen*/
@media(min-width: 1024px){
    #nav-dropdown{
        display: none;
    }
    .alt{
        margin-right: 30px;
    }
    .master2_c h1{
        margin-bottom: -4px;
    }
    .vertical{
        border-right: 1px solid #CECECE;
        height: 40px;
        margin-right: 30px;
        margin-top: 20px;
    
    }
    #master2_1{
        display: flex;
    }
}

/*Responsiveness for maximum of 1023px screen*/
@media(max-width: 1023px){
    #nav-dropdown{
        display: none;
    }
    #master2_1{
        text-align: center;
    }
    .vertical{
        border-bottom: 1px solid #CECECE;
        width: 50px;
        margin: auto;
        margin-top: 20px;
    }
}
@media(max-width: 730px){
    #master{
        width: 90%;
    }
    #bookmark{
        background-color: #FFFFFF;
    }
    .btnr{
        display: none;
    }
    #bk_img{
        width: 90%;
        position: relative;
        right: 70px;
    }
}

footer {
        margin: 0 50px 50px 50px;
        font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
    }
    .contain {
        background-color: #fff;
        border: 1px solid #000;
        margin: 15px 0;
        padding: 20px;
        overflow: auto;
    }
    .right {
        float: right;
    }
    @media (max-width: 400px) {
        .right {float: none;display: block;}
        button {display: block;}
    }